<slideshow 
    [height]="height"
    [minHeight]="'250px'"
    [autoPlay]="true"
    [autoPlayInterval] = 5000
    [showArrows]="false"
    [imageUrls]="imagesUrl"
    [lazyLoad]="imagesUrl?.length > 1"
    [autoPlayWaitForLazyLoad]="true">
</slideshow>

<div class="text">
        <p>
            Cras porttitor, erat non posuere bibendum, tortor dui aliquet arcu, sed porttitor felis velit 
            vitae urna. Phasellus arcu ex, dapibus eu orci sed, feugiat laoreet mauris. Phasellus eu ex 
            metus. Donec dictum mollis gravida. Nullam aliquet efficitur mauris eu bibendum. Mauris 
            ultrices urna sagittis sapien vehicula, sed imperdiet odio vulputate. Vivamus urna mi, 
            fringilla a porta et, varius ut nunc. Curabitur porttitor quis neque quis rutrum. 
        </p>
        <br/>
        <p>
            Cras porttitor, erat non posuere bibendum, tortor dui aliquet arcu, sed porttitor felis velit 
            vitae urna. Phasellus arcu ex, dapibus eu orci sed, feugiat laoreet mauris. Phasellus eu ex 
            metus. Donec dictum mollis gravida. Nullam aliquet efficitur mauris eu bibendum. Mauris 
            ultrices urna sagittis sapien vehicula, sed imperdiet odio vulputate. Vivamus urna mi, 
            fringilla a porta et, varius ut nunc. Curabitur porttitor quis neque quis rutrum. 
        </p>

        <br/>

        <p>
            Cras porttitor, erat non posuere bibendum, tortor dui aliquet arcu, sed porttitor felis velit 
            vitae urna. Phasellus arcu ex, dapibus eu orci sed, feugiat laoreet mauris. Phasellus eu ex 
            metus. Donec dictum mollis gravida. Nullam aliquet efficitur mauris eu bibendum. Mauris 
            ultrices urna sagittis sapien vehicula, sed imperdiet odio vulputate. Vivamus urna mi, 
            fringilla a porta et, varius ut nunc. Curabitur porttitor quis neque quis rutrum. 
        </p>
        <br/>
        <p>
            Cras porttitor, erat non posuere bibendum, tortor dui aliquet arcu, sed porttitor felis velit 
            vitae urna. Phasellus arcu ex, dapibus eu orci sed, feugiat laoreet mauris. Phasellus eu ex 
            metus. Donec dictum mollis gravida. Nullam aliquet efficitur mauris eu bibendum. Mauris 
            ultrices urna sagittis sapien vehicula, sed imperdiet odio vulputate. Vivamus urna mi, 
            fringilla a porta et, varius ut nunc. Curabitur porttitor quis neque quis rutrum. 
        </p>
</div>
