.form-content{
    background:#252932;
    width: 100%;
    color: #ffff;
    border-radius: 5px;
}

.checkboxs{
    display: inline-block;
    padding: 20px;
}

.form-label{
    display: inline-block;
    padding: 5px;
    
}

.check{
    vertical-align: bottom;
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: linear-gradient(0deg,#333,#000);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba0(0,0,0,.2);
    overflow: hidden; 
    margin-left: 8px;
}

.accident:checked{
    background: linear-gradient(0deg,#e5e90c,#fffb00);
}

.stole:checked{
    background: linear-gradient(0deg,#d1320b,#ff0000);
}

.check:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0%;
    left: 0%;
    background: linear-gradient(0deg, #000, #6b6b6b);
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba0(0,0,0,.2);
    transition: 0.5s;
}

.check:checked:before{
   left: 20px;
}

.date{
    background: #000000;
    color: #ffff;
    width: 250px;
    
    padding: 5px;
    border: none;
    border-radius: 2px;
    border-bottom: 2px solid #1dbad6;
    text-align: center;
}

.btn-submit{
    position: relative;
    background:  #1dbad6;
    border: none;
    size: 14px;
    border-radius: 2px;
    color: #ffff;
    width: 80px;
    height: 28px;
    padding: 2px;
    margin-left: 20px;
}

.btn-submit:hover{
    background: #047a8f
}

#map {
    padding-top: 20px;
    height: 600px;    
    width: 100%;       
  } 