<header>
    <div class="wrapper">
        <div class="logo">Cleteada</div>
        
        <nav>
            <a routerLink="/" routerLinkActive= "active">Inicio</a>
            <a routerLink="/navegation" routerLinkActive= "active">Navegar</a>
            <a routerLink="/reports" routerLinkActive= "active">Reportes</a>
            <a routerLink="/historic" routerLinkActive= "active">Historico</a>
        </nav>
        
    </div>
</header>
